.Hangman-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 2em;
  background-color: white;
}

.Hangman-Progress {
  width: 200px;
  height: 200px;
  padding: 0.5em;
}

.Hangman-Alphabet {
  padding: 0.5em;
}

.Hangman-SecretWord {
  padding: 0.5em;
}
